.sub_page_title {
  position: relative;
  padding: 120px 40px;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}
.sub {
  margin-top: 8px;
  font-size: 1.8rem;
}
