@font-face {
  font-family: 'SDSwagger';
  src: url('/assets/fonts/SDSwaggerTTF.woff2') format('woff2'),
       url('/assets/fonts/SDSwaggerTTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NEXONLv1Gothic/NEXONLv1Gothic-Light.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/NEXONLv1Gothic/NEXONLv1Gothic-Light.woff') format('woff'),
}
@font-face {
    font-family: 'NEXON Lv1 Gothic';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NEXONLv1Gothic/NEXONLv1Gothic-Regular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/NEXONLv1Gothic/NEXONLv1Gothic-Regular.woff') format('woff'),
}
@font-face {
    font-family: 'NEXON Lv1 Gothic';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NEXONLv1Gothic/NEXONLv1Gothic-Bold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/NEXONLv1Gothic/NEXONLv1Gothic-Bold.woff') format('woff'),
}
html{font-family: 'NEXON Lv1 Gothic';font-size:62.5%;}
body{font-size:1.7rem;}
html.contrast{
    filter: contrast(1.5);
}
html.low{
    scroll-behavior: smooth;
}
html.en, html.jp, html.zh{
    font-family: 'NEXON Lv1 Gothic';
}
html.font_65{font-size:65%;}
html.font_69{font-size:69%;}
*:focus{ outline-offset: 1px;outline:3px dashed rgb(244, 122, 0);}
::selection {background: #04a145;color: #fff;}
.sound_only {position: absolute;width: 1px;height: 1px;margin: -1px;padding: 0;overflow: hidden;clip: rect(0, 0, 0, 0);border: 0;white-space: nowrap;}
.container{
    padding-left:40px;padding-right:40px;
}

#layout{
    display: flex;flex-direction: column;min-height:100vh;
}
#header{
    position:fixed;z-index:1000;left:0;top:0;width:100%;padding:70px 40px 0;
    .header_inner {
        position: relative;;padding:25px 30px;display:flex;align-items: center;background-color: #fff;border-radius:10px;box-shadow:0 0 15px rgba(0,0,0,.1);
        #logo {
            display: flex;align-items: center;gap:15px;
            img{
                &#logo_ci{width:25px;}
                &#logo_text{width:140px;}
            }
        }
        #nav {
            flex:1 1 auto;
            ul {
                display:flex;justify-content: end;gap:30px;
                li {
                    a{
                        display: block;color:#000;font-size:1.8rem;font-weight:700;
                    }
                }
            }
        }
        .sp {
            position: absolute;top:-40px;right:0;
            a {
                color:#fff;font-size:1.8rem;display:flex;align-items: center;text-shadow: 0 0 6px rgba(0,0,0,.3);
                svg{
                    width:30px;height:30px;margin-right:10px;
                }
            }
        }
    }
}
#footer{
    padding:120px 0 80px;background-color: #e3e0de;color:#222;
    .footer_inner {
        display: flex;align-items: center;flex-wrap:wrap;;padding:0 40px;
    }
    #ft_logo {
        img{
            width:150px;
        }
    }
    #ft_nav {
        flex:1 1 auto;
        & > ul {
            display: flex;justify-content: end;gap:12px;
            & > li {
                display: flex;align-items: center;
                & > a {
                    display: block;font-size:1.7rem;color:rgba(0,0,0,.8);font-weight:700;
                    &:hover{
                        color:#000;
                    }
                }
            }
            & > li + li{
                &:before{
                    content:"";width: 4px;height:4px;background-color: rgba(0,0,0,.25);margin-right:12px;
                }
            }
        }
    }
    .ft_info {
        width:100%;display: flex;justify-content: end;gap:15px;margin-top:35px;color:rgba(0,0,0,.7);
        .item {
            font-size:1.5rem;
        }
    }
    .ft_copy {
        width:100%;text-align: right;font-size:1.4rem;margin-top:5px;color:rgba(0,0,0,.4);
    }
}


#content{
    flex:1 1 auto;
}